.PotluckContainer { 
  padding-top: 40px; 
  background-color: white; 
  width: 30%; 
  display: flex; 
  flex-direction: column; 
}

.potluckTimeImage { 
  width: 10%; 
}

.potluckLocationImage { 
  width: 10%; 
}

.potluckCalendarImage { 
  width: 10%; 
}