h1 {
  color: #f1c97d;
}

.right.carousel-control, .left.carousel-control {
  display: none;
}

.searchbarLanding {
  padding-bottom: 10px;
}

.carousel-indicators li { visibility: hidden; }

.landingPhoto {
padding-top: 40px;
}

.carousel {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}

.slideshowImage {
  zoom: -100%;
}


.landingPageFeatured {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center; 
}

.landingPageFeaturedContainer { 
  display: flex; 
  justify-content: center; 
}

.landingPageHeader {
  width: 470px;
  margin: 10px auto;
}

.header img {
  width: 10%;
  margin-left: 32%;
  margin-right: auto;
}

.header {
  position: absolute;
  margin-left: 20%;
  margin-right: auto;
  z-index: 0;
  margin-top: -20%;
  color: rgb(209, 255, 4);
  /* color: rgb(209, 255, 4); */
}

.Modal {
  z-index: 4;
}

.LandingFavoritesContainer{
  margin-top: 20px;
}

.header h1 {
  font-size: 90px;
  margin: 0;
  text-shadow: 7px 7px 7px #000000;
}

.landButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  width: 70%;
  margin-left: 42%;
  margin-right: auto;
}

.button {
  margin-left: 20px;
  border: none;  
}

@media only screen and (max-width: 1192px) {
  .header { 
    margin-top: -300px; 
  }
  .header h1 { 
   font-size: 6em; 
  }
  /* .landingPage { 
    margin-top: 10px; 
  } */
  .landingContainer { 
 margin-top: 0px; 
  }
  .landingPageHeader {
    width: 45%;
    margin: 10px auto;
  }
 }
 
 @media only screen and (max-width: 1090px) {
   .header { 
     margin-top: -300px; 
   }
   .header h1 { 
    font-size: 6em; 
   }
   .landingPage { 
     margin-top: 10px; 
   }
   /* .landingContainer { 
  margin-top: 40px; 
   } */
   .landingPageHeader {
    width: 60%;
    margin: 10px auto;
  }
  }
 
  @media only screen and (max-width: 755px) {
   .header { 
     margin-top: -320px; 
   }
   .header h1 { 
    font-size: 4em; 
   }
   .landingPage { 
     margin-top: 10px; 
   }
   /* .landingContainer { 
  margin-top: 40px; 
   } */
 
   .recipeImg{
     margin-left: 2px;
     display: block;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     max-width: 99%;
   }
   .recipeBox{
     display: block;
     width: 98%;
     margin-bottom: 40px;
   }

   .LandingFavoritesContainer{ 
    margin-top: -5%; 
  }

  .landingPageHeader {
    width: 90%;
    margin: 10px auto;
  }
  }

  @media only screen and (max-width: 647px) {
    .LandingFavoritesContainer{ 
     margin-top: -15%; 
   }
   .header { 
    margin-top: -340px; 
  }
   }


  /*reactive screen settings*/
@media only screen and (max-width: 475px) {
  .landingPage{
    /* background-color: ; */
    margin-right:15px;
    margin-top: -0.1%; 
  }
  
  .right.carousel-control, .left.carousel-control {
    display: flex;
  }
  
  .searchbarLanding {
    /* display: flex;  */
    /* padding-bottom: 5px;  */
  }
  .landingPageHeader{
    font-size: 20px;
  }

  .landingContainer { 
    padding: none; 
    margin: none;  
  }
  
  .carousel-indicators li { visibility: hidden; }
  
  .landingPhoto {
    max-height: 150px;
    padding-top: 60px;
    height: 12%; 
  }

  
  .carousel { 
    max-height: 150px;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
  }
  .carousel-slide{
    margin-right: 0px;
    padding-left: 0px;
  }
  /* .searchbarLogoName{
    margin-top: 5px;
    width: 30%;
  } */
  /* .searchbarLogo{
    margin-left:40%;
    width: 11%;
   
    
  } */
  .ReactModal_content--after-open{
    width:80%;
  }
  
  .slideshowImage {
    width: 100%; 
    max-height: 150px;
    zoom: -100%; 
  }
  
  
  .landingPageFeatured {
    display: flex;
    justify-content: center; 
    width: 99%;
    justify-content: space-between;  
  }
  
  .landingPageHeader {
    width: 50%;
    margin: 10px auto;
  }
  
  .header img {
    width: 10%;
    margin-left: 32%;
    margin-right: auto;
  }
  
  .header {
    font-size:38%;
    margin-left: 18%;
    margin-right: auto;
    z-index: 0;
    margin-top: -26%; 
    color: rgb(209, 255, 4);
  }
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .Modal {
    z-index: 4;
  }
  
  .LandingFavoritesContainer{ 
    margin-top: 80px; 
  }
  
  .header h1 {
    font-size: 26px;
    float: left;
    margin: 0;
    padding-right: 8px;
    text-shadow: 7px 7px 7px #000000;
  }
  
  .landButton {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    width: 70%;
    margin-left: 45%;
    margin-right: auto;
    
  }
  .recipeName{
    margin-left: 13%;
  }
  
  .button {
    padding: 0px;
    margin-left: 6px;
    max-width: 69px;
    max-height: 27px;
  }

  .recipeImg{
    /* margin-left: 2px; */
    display: block;
    /* height: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    /* max-width: 99%; */
    width: 375px !important ;
  }
  .recipeBox{
    /* display: block; */
    width: 90% !important ;
    margin-bottom: 40px;
    padding: none; 
    margin-left: none; 
  }

}