.allgroups-container {
  text-align: center;
  position: relative;
  padding-top: 3.5em;
}

.group-main-header {
  font-size: 210%;
  color: #e90c1a;
}

.group-header {
  font-size: 160%;
  color: #e90c1a;
}

.group-links-wrap {
  height: 20%;
  width: 60%;
  margin: 0.8em auto 0.8em;
}

.group-links-container {
  height: 100%;
  width: 100%;
  background-color: rgb(245,245,245);
  color: #f56607;
  font-size: 135%;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(215,215,215);
  border-radius: 0.7em 0.7em 0.7em 0.7em;
}

.group-links {
  text-decoration: none;
  color: #e90c1a;
}
