body {
  font-family: 'Open Sans', sans-serif;
}

.singleRecipeImage {
  width: 45%;
  margin-left: 28%; 
  height: 30%; 

}

.singleRecipeHeader {
  color: rgb(51, 51, 51);
  display: inline; 
}

.singleRecipeLeft { 
  width: 45%; 
  margin-left: 28%; 
  margin-top: 0%; 
  border-radius: 1%; 
}

.singleRecipeVeganIcon{ 
  width: 2.5%; 
}

.singleRecipeChefIcon { 
  width: 5.5%; 
  display: inline; 
}

.singleRecipeIntroLine { 
  background-color:  rgb(255, 234, 163); 
  width: 44.9%; 
  margin-left: 28%;
  border-radius: 3px; 
  color: rgb(51, 51, 51); 
  text-align: center; 
}

.singleRecipeIngredientsTitle { 
  border-bottom: 2px solid rgb(255, 201, 130); 
}

.singleRecipeUsername { 
  margin-bottom: -0.1%; 
  display: inline; 
}

.singleRecipeUsernameLink { 
  text-decoration: none;
  color: rgb(51, 51, 51); 
}

.heartIconFavorite {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 5%; 
}

.heartIconUnfavorite { 
  width: 5%; 

}

.heartIconFavorite:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.heartIconUnfavorite:hover {
  cursor: pointer;
}

.recipeFavoritesCount { 
  display: inline; 
}

.ingredientList { 
  display: list-item; 
  list-style-type: circle;
}

textarea {
  outline: none;
  resize: none;
  width: 99%;
  border-radius: 3px; 
  border: 0.7px solid rgb(187, 187, 187); 
}

.singleRecipeSubmit { 
  background-color: rgb(255, 125, 65); 
  color: white; 
  border: none; 
  border-radius: 3px; 
  width: 12%; 
  outline: none;
}

.singleRecipeCommentEdit { 
  background-color: rgb(255, 125, 65); 
  color: white; 
  border: none; 
  border-radius: 3px; 
  width: 14%; 
  outline: none;
}

.singleRecipeSubmit:hover { 
  background-color: gray; 
  cursor: pointer; 
}

.commentList { 
  list-style:none;
  padding-left:3%;
}
