/* landing page */
h1 {
  color: #f1c97d;
}

.landingPhoto {
  height: 350px;
  border-radius: 8px;
  /* background-image: url('https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=maarten-van-den-heuvel-400626-unsplash.jpg&s=9509ba35b5e71ce1c654cc3e3e04cd7b,');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten; */
}
#sl1 img {
  position: absolute;
  height: 350px;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  animation-name: sl1FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-direction: alternate;
}

@keyframes sl1FadeInOut {
  0% {
    opacity: 0.3;
  }
  33% {
    opacity: 0.75;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#sl1 img:nth-of-type(1) {
  animation-delay: 12s;
}
#sl1 img:nth-of-type(2) {
  animation-delay: 8s;
}
#sl1 img:nth-of-type(3) {
  animation-delay: 4s;
}
#sl1 img:nth-of-type(4) {
  animation-delay: 0;
}

.landingPageFeatured {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.landingPageHeader {
  width: 50%;
  margin: 10px auto;
}

.header img {
  width: 10%;
  margin-left: 32%;
  margin-right: auto;
}

.header {
  position: absolute;
  margin-left: 20%;
  margin-right: auto;
  z-index: 0;
}

.Modal {
  z-index: 4;
}

.header h1 {
  font-size: 90px;
  margin: 0;
  text-shadow: -2px 2px #0c0202;
}

.landButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 70%;
  margin-left: 28%;
  margin-right: auto;
}

.button {
  margin-left: 20px;
}

/* feed */
.feedContainer {
  width: 100%;
}

/* singleRecipe */
.singleRecipeContainer {
  padding-top: 6%;
  width: 100%;
}

/* userProfile */
.userProfileContainer {
  padding-top: 8%;
  width: 100%;
}

/* userProfile */

.userProfile {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.userProfileBanner {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  border-bottom: 0.09px;
  border-bottom-style: solid;
  padding-bottom: 9px;
  border-bottom-color: gainsboro;
}

.userPhotoSpace {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  overflow: hidden;
}

.profilePhoto {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.userInfo {
  width: 28%;
  padding-top: 10%;
}

.followInfo {
  display: flex;
  justify-content: space-between;
}

.userProfileTitle {
  width: 190px;
  margin-right: auto;
  margin-left: auto;
}

/* recipeBox */

.recipeBox {
  border: 1px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 10px;
  width: 400px;
  margin: 10px 30px;
  background-color: rgb(239, 253, 227); 
  /* background-color: rgb(213, 255, 204);  */
  /* background-color: rgb(255, 166, 133);  */
  box-shadow: 20px 10px 40px -14px rgba(0, 0, 0, 0.25);
  /* color: white;  */
}

.favorites {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
.fav {
  margin: 0;
}

h4 {
  margin: 0;
}
.recipeInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin: 2% 0;
}

i {
  color: #ff7b00;
}

/* form style */

.formContainer {
  padding-top: 4%;
  width: 100%;
}

.formStyle {
  width: 450px;
  padding: 30px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.formInnerWrap {
  padding: 30px;
  background: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 15px;
}

.formHeader {
  background: #f3550c;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #f3550c;
}

.formHeader > span {
  display: block;
  margin-top: 2px;
  font-size: 13px;
}

.formLabels {
  display: block;
  font-size: 13px;
  color: #888;
  margin-bottom: 15px;
}

.ingAmount {
  width: 10px;
}

.formSection {
  font-size: 20px;
  color: #f3550c;
  margin-bottom: 5px;
}

.formSection span {
  background: #f3550c;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
  margin-top: -3px;
}

.formInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.formButton {
  background: #f3550c;
  padding: 6px 16px 6px 16px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #f3550c;
  font-size: 12px;
}

.xButton {
  background: #f3550c;
  border-radius: 12px;
  display: inline;
  margin-bottom: 6px;
  margin-top: 0;
  margin-left: 4px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #f3550c;
  font-size: 12px;
}

.ingAmount {
  width: 70px;
  display: inline;
  margin-top: 4px;
  margin-bottom: 0;
}

.notes {
  width: 200px;
  display: inline;
}

.alert {
  -webkit-animation: notification_alert 2s infinite;
  -moz-animation: notification_alert 2s infinite;
  -o-animation: notification_alert 2s infinite;
  animation: notification_alert 2s infinite;
}

@-webkit-keyframes notification_alert {
  0%, 49% {
    background-color: #8b0000;
  }
  50%, 100% {
    background-color: #e50000;
  }
}
