/* landing page */
h1{
  color:#D82929;
}
a{
  background-color: wheat;
  color:#D82929;
  border-radius: 5px;
  padding: 3px;
  border: solid 1px;
  border-color: #D82929;
}

.landingPhoto{
  height: 300px;
  border-radius: 5px;
  background-image: url('https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=maarten-van-den-heuvel-400626-unsplash.jpg&s=9509ba35b5e71ce1c654cc3e3e04cd7b,');
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
}

.landingPageFeatured{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.landingPageHeader{
  width:50%;
  margin: 10px auto;
}


.header{
  display: flex;
  justify-content: space-around;
}

.landButton{
  float: right;
  margin-top: 25px;
}
.button{
  margin-left: 10px;
}

/* SearchBar styling */
.searchbarLogo { 
  display: inline; 
  margin-left: 0%; 
}

.addRecipeButton { 
  background-color: #DD7459; 
  border-radius: 3px; 
  height: 20px; 
  margin-left: 60%; 
}

.searchbar { 
  border: 1px solid rgb(161, 161, 161);  
}

.feedLink { 
  background-color: transparent; 
  border: transparent; 
}

/* userProfile */

.userProfile{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.userProfileBanner{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  border-bottom: .09px;
  border-bottom-style: solid;
  padding-bottom: 9px;
  border-bottom-color: gainsboro
}

.userPhotoSpace {
  width: 200px;
  height: 200px;
  border-radius:50%;
  border-style: solid;
  overflow:hidden;
}

.profilePhoto {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.userInfo{
 width: 28%;
 padding-top:10%;
}

.followInfo{
  display: flex;
  justify-content: space-between
}

.userProfileTitle{
  width: 190px;
  margin-right: auto;
  margin-left: auto;
}

/* recipeBox */

.recipeBox{
  border: 1px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 10px;
  width: 300px;
  margin: 10px 50px;
}

.favorites{
  display: flex;
  justify-content: space-between;
  width:10%;
}
.fav {
  margin: 0;
}

h4{
  margin: 0;
}
.recipeInfo{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin: 2% 0;
}

i{
  color: #FF7B00;
}

/* form style */

.formStyle{
  width:450px;
  padding:30px;
  margin:40px auto;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.formInnerWrap{
  padding: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 15px;
}

.formHeader{
  background: #F3550C;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #F3550C;
}

.formHeader > span{
  display: block;
  margin-top: 2px;
  font-size: 13px ;
}

.formLabels{
  display: block;
  font-size: 13px;
  color: #888;
  margin-bottom: 15px;
}

.ingAmount{
  width: 10px;
}

.formSection{
  font-size: 20px;
  color: #F3550C;
  margin-bottom: 5px;
}

.formSection span {
  background: #F3550C;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
  margin-top: -3px;
}

.formInput{
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.formButton{
  background: #F3550C;
  padding: 6px 16px 6px 16px;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #F3550C;
  font-size: 12px;
}

.xButton{
  background: #F3550C;
  border-radius: 12px;
  display: inline;
  margin-bottom: 6px;
  margin-top: 0;
  margin-left: 4px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #F3550C;
  font-size: 12px;
}

.ingAmount{
  width: 70px;
  display: inline;
  margin-top: 4px;
  margin-bottom: 0;
}

.notes{
  width: 200px;
  display: inline;
}

