.feedImage {
  width: 100%;
  height: 300px;
}

.feedBox {
  width: 460px;
  background-color: rgb(255, 254, 253);
}

.feedBoxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feedContainer {
  padding-top: 40px;
  text-align: center;
}

.feedRecipeName {
  display: inline-flex;
  justify-content: center;
  font-size: 1.1em;
  margin-top: 2.5%;
}

.feedRecipeUsername {
  display: inline;
}

.feedRecipeFavorites {
  display: inline;
  z-index: 1; 
}

.feedBoxDescription {
  margin-left: 0%;
  color: rgb(65, 65, 65);
  width: 100%;
  background-color: rgb(252, 239, 181);
  border: 0.5px solid rgb(253, 231, 231);
  border-radius: 2px;
  height: 40px;
}

.feedRecipeChefIcon {
  width: 3%;
}

.feedRecipeIcons {
  display: inline;
  padding-left: 3%;
}
