.searchbarLogo { 
  margin-left: 16%; 
  width: 2.5%; 
  position: fixed; 
  margin-top: 0.3%; 

}

.searchbarLogoName { 
  margin-left: 1%; 
  width: 14%; 
  position: fixed; 
  margin-top: 0.3%; 
}

.addRecipeButton { 
  background-color: white; 
  border-radius: 6px; 
  height: 20px; 
  margin-left: 10%; 
  padding-bottom: 5px; 
  position: fixed; 
  margin-left: 60%;
  margin-top: 0.5%;  
}

.searchbar { 
  position: fixed; 
  width: 100%; 
  /* background-color: #ff5f00; */
  padding-top: 10px; 
  border-bottom-width: 3px;  
  border-bottom-style: solid; 
  border-bottom-color: rgb(235, 232, 232); 
  background-color: white; 
}

.searchInput { 
  width: 25%; 
  margin-left: 37%; 
  position: fixed; 
  margin-top: 0.7%; 
}

.react-autosuggest__container {
  position: relative;
  margin-left: 40%; 
}

.react-autosuggest__input {
  margin-top: 6px; 
  width: 280px;
  height: 10px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px; 
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 31px;
  width: 320px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}

.searchLink { 
  background-color: transparent; 
  border: none; 

}

.writingIcon { 
  width: 2.5%; 
  position: fixed; 
  margin-left: 81%; 
  margin-top: -2%; 
}

.writingIcon:hover { 
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.addTagline { 
  position: fixed; 
  font-size: 0.8em; 
  margin-left: 84%;
  margin-top: -2.5%; 
}

.heartIcon { 
  width: 2.5%; 
  position: fixed; 
  margin-left: 70.5%; 
  margin-top: -2%; 
}

.heartIcon:hover { 
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.heartTagline { 
  position: fixed; 
  font-size: 0.8em; 
  margin-left: 74%;
  margin-top: -2.5%;  
}

.feedLink { 
  background-color: transparent; 
  border: transparent; 
}


.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 15px;
  left: 95%;
  top: 3.4%;
}

.bm-burger-bars {
  background: #696969;
  height: 1%; 
}

.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 82%; 
  margin-top: 4%; 
}

.bm-menu {
  background: #333333;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  color: white; 
}

.bm-item-list {
  color: #265b75;
  padding: 0.8em;
  margin-left: 2%; 
  margin-top: 4%; 
}

.menu-item { 
  background-color: #333333;
  border: none; 
  text-decoration: none; 
  color:  #bdc3c7; 
}

