.searchbarLogo { 
  display: inline; 
  margin-left: 0%; 
}

.addRecipeButton { 
  background-color: #DD7459; 
  border-radius: 3px; 
  height: 20px; 
  margin-left: 60%; 
}

.searchbar { 
  position: fixed; 
  width: 100%; 
  background-color: #ED6C4B; 
  padding-top: 4px; 
  padding-bottom: 2px; 
}

.feedLink { 
  background-color: transparent; 
  border: transparent; 
}

.burgerMenu { 
}

.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 15px;
  left: 95%;
  top: 1%;
}

.bm-burger-bars {
  background: #373a47;
  height: 1%; 
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  color: white; 
}

.bm-item-list {
  color: #373a47;
  padding: 0.8em;
}

.menu-item { 
  background-color: #373a47;
  border: none; 
  text-decoration: none; 
}